# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Shortcuts
*.lnk

# Misc
.kdev4
.idea/
cmake-build-debug/
cmake-build-release/
build/